*

!.config/
!.github/
!.hammerspoon/
!.vscode/
!.warp/
!Documents/
!Library/
!Public/

!.editorconfig
!.gitconfig
!.gitignore
!.gitleaks.toml
!.gitmodules
!.prettierrc.yml
!.npmrc
!.vimrc
!.zshrc
!*.config.*
!Brewfile
!package.json
!pnpm-lock.yaml
