/*

!.config/
!.github/
!.hammerspoon/
!.vscode/
!.warp/
!Library/

!.editorconfig
!.gitconfig
!.gitignore
!.gitleaks.toml
!.gitmodules
!.prettierrc.yml
!.npmrc
!.vimrc
!.zshrc
!Brewfile
!package.json
!pnpm-lock.yaml

node_modules/
.DS_Store
