*

!.config/
!.github/
!.hammerspoon/
!.husky/
!.vscode/
!.warp/
!Documents/
!Library/
!Public/
!cloud/

!.editorconfig
!.gitconfig
!.gitignore
!.gitleaks.toml
!.gitmodules
!.lintstagedrc.yml
!.prettierrc.yml
!.npmrc
!.vimrc
!.zshrc
!Brewfile
!package.json
!Pulumi.y*ml

!*.config.*
!*.ts
