* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  print-color-adjust: exact;
  width: 816px;
}

ul {
  list-style-type: none;
  padding: 10px 0 10px 20px;
}

li {
  padding: 2px;
  text-indent: -10px;

  &:before {
    content: '- ';
  }
}

body > header {
  border-bottom: 2px solid black;
  border-top: 5px solid black;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  #name {
    h2 {
      font-size: 20px;
      margin-top: 30px;
    }
  }

  #info {
    background: #eee;
    border: 1px solid #e1e1e1;
    padding: 12px 20px;
    width: 300px;

    .row {
      display: flex;
      padding: 4px 0px;

      label {
        width: 100px;
      }
    }
  }
}

main {
  > header {
    color: #444;
    margin: 20px 0;
  }

  h3 {
    color: #666;
    font-weight: 600;
    margin: 20px 0;
  }

  section {
    display: flex;
    margin-bottom: 40px;

    .left {
      font-style: italic;
      padding: 10px 20px 10px 10px;
      text-align: right;
      text-transform: uppercase;
      width: 125px;
    }

    .right {
      border-left: 1px solid #aaa;
      padding: 10px 0;
      width: 100%;

      .experience {
        padding: 10px 2px 20px 20px;

        header {
          align-items: center;
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;

          h1 {
            font-size: 30px;

            small {
              font-weight: normal;
            }
          }

          span {
            color: #666;
            font-size: 18px;
            font-style: italic;
          }
        }

        h2 {
          color: #666;
          font-size: 20px;
          margin-bottom: 20px;
        }
      }

      .experience:not(:last-child) {
        border-bottom: 1px #aaa dashed;
      }
    }
  }
}

.skills {
  .right {
    .experience {
      padding: 0 0 0 20px;
    }
  }
}
