<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ApplicationIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Safari.WebApp.081FA7AF-182B-4990-BC9D-59736BD8C05F</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Homebridge</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-webkit-app-launch</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSTemplateApplication</key>
	<true/>
	<key>LSTemplateApplicationParameters</key>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.apple.Safari.WebApp</string>
		<key>TemplateAppUUID</key>
		<string>081FA7AF-182B-4990-BC9D-59736BD8C05F</string>
		<key>defaultarguments</key>
		<true/>
		<key>teamIdentifier</key>
		<string>0000000000</string>
	</dict>
	<key>Manifest</key>
	<dict>
		<key>background_color</key>
		<string>#57277c</string>
		<key>description</key>
		<string>Homebridge is a lightweight NodeJS server that emulates the iOS HomeKit API.</string>
		<key>display</key>
		<string>standalone</string>
		<key>icons</key>
		<array>
			<dict>
				<key>purpose</key>
				<string>any maskable</string>
				<key>sizes</key>
				<string>192x192</string>
				<key>src</key>
				<string>android-chrome-192x192.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>any maskable</string>
				<key>sizes</key>
				<string>512x512</string>
				<key>src</key>
				<string>android-chrome-512x512.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
		</array>
		<key>name</key>
		<string>Homebridge</string>
		<key>orientation</key>
		<string>any</string>
		<key>short_name</key>
		<string>Homebridge</string>
		<key>start_url</key>
		<string>https://homebridge.bailey.mx/</string>
		<key>theme_color</key>
		<string>#140a33</string>
	</dict>
	<key>WKManifestIconKind</key>
	<string>Manifest</string>
	<key>WKManifestURL</key>
	<string>https://homebridge.bailey.mx/assets/manifest.webmanifest</string>
	<key>WKPushBundleMetadata</key>
	<dict>
		<key>manifestId</key>
		<string>https://homebridge.bailey.mx/</string>
	</dict>
</dict>
</plist>
