<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ApplicationIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Safari.WebApp.B33C5418-11E9-4C45-A935-C5918E12F164</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>YouTube</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-webkit-app-launch</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSTemplateApplication</key>
	<true/>
	<key>LSTemplateApplicationParameters</key>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.apple.Safari.WebApp</string>
		<key>TemplateAppUUID</key>
		<string>B33C5418-11E9-4C45-A935-C5918E12F164</string>
		<key>defaultarguments</key>
		<true/>
		<key>teamIdentifier</key>
		<string>0000000000</string>
	</dict>
	<key>Manifest</key>
	<dict>
		<key>background_color</key>
		<string>#FFFFFF</string>
		<key>capture_links</key>
		<string>none</string>
		<key>display</key>
		<string>minimal-ui</string>
		<key>gcm_sender_id</key>
		<string>402845223712</string>
		<key>gcm_user_visible_only</key>
		<true/>
		<key>icons</key>
		<array>
			<dict>
				<key>sizes</key>
				<string>144x144</string>
				<key>src</key>
				<string>https://www.gstatic.com/youtube/img/branding/favicon/favicon_144x144_v2.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>192x192</string>
				<key>src</key>
				<string>https://www.gstatic.com/youtube/img/branding/favicon/favicon_192x192_v2.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>monochrome</string>
				<key>sizes</key>
				<string>16x16</string>
				<key>src</key>
				<string>https://www.gstatic.com/youtube/img/web/monochrome/logo_16x16.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>monochrome</string>
				<key>sizes</key>
				<string>32x32</string>
				<key>src</key>
				<string>https://www.gstatic.com/youtube/img/web/monochrome/logo_32x32.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>monochrome</string>
				<key>sizes</key>
				<string>48x48</string>
				<key>src</key>
				<string>https://fonts.gstatic.com/s/i/googlematerialicons/video_youtube/v11/white-48dp/1x/gm_video_youtube_white_48dp.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>monochrome</string>
				<key>sizes</key>
				<string>512x512</string>
				<key>src</key>
				<string>https://www.gstatic.com/youtube/img/web/monochrome/logo_512x512.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>maskable</string>
				<key>sizes</key>
				<string>192x192</string>
				<key>src</key>
				<string>https://www.gstatic.com/youtube/img/web/maskable/logo_192x192.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>purpose</key>
				<string>maskable</string>
				<key>sizes</key>
				<string>512x512</string>
				<key>src</key>
				<string>https://www.gstatic.com/youtube/img/web/maskable/logo_512x512.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
		</array>
		<key>migrate_from</key>
		<array/>
		<key>name</key>
		<string>YouTube</string>
		<key>related_applications</key>
		<array/>
		<key>scope</key>
		<string>/</string>
		<key>short_name</key>
		<string>YouTube</string>
		<key>shortcuts</key>
		<array>
			<dict>
				<key>icons</key>
				<array>
					<dict>
						<key>purpose</key>
						<string>any monochrome</string>
						<key>sizes</key>
						<string>512x512</string>
						<key>src</key>
						<string>https://www.gstatic.com/youtube/img/web/shortcuts/subscriptions_512x512_v2.png</string>
						<key>type</key>
						<string>image/png</string>
					</dict>
				</array>
				<key>name</key>
				<string>Subscriptions</string>
				<key>url</key>
				<string>/feed/subscriptions?feature=app_shortcuts</string>
			</dict>
			<dict>
				<key>icons</key>
				<array>
					<dict>
						<key>purpose</key>
						<string>any monochrome</string>
						<key>sizes</key>
						<string>512x512</string>
						<key>src</key>
						<string>https://www.gstatic.com/youtube/img/web/shortcuts/shorts_512x512.png</string>
						<key>type</key>
						<string>image/png</string>
					</dict>
				</array>
				<key>name</key>
				<string>Shorts</string>
				<key>url</key>
				<string>/shorts?feature=app_shortcuts</string>
			</dict>
			<dict>
				<key>icons</key>
				<array>
					<dict>
						<key>purpose</key>
						<string>any monochrome</string>
						<key>sizes</key>
						<string>512x512</string>
						<key>src</key>
						<string>https://www.gstatic.com/youtube/img/web/shortcuts/search_512x512_v2.png</string>
						<key>type</key>
						<string>image/png</string>
					</dict>
				</array>
				<key>name</key>
				<string>Search</string>
				<key>url</key>
				<string>/results?feature=app_shortcuts</string>
			</dict>
		</array>
		<key>start_url</key>
		<string>https://www.youtube.com/?feature=ytca</string>
		<key>theme_color</key>
		<string>#FF0033</string>
	</dict>
	<key>WKManifestIconKind</key>
	<string>Manifest</string>
	<key>WKManifestURL</key>
	<string>https://www.youtube.com/manifest.webmanifest</string>
	<key>WKPushBundleMetadata</key>
	<dict>
		<key>manifestId</key>
		<string>https://www.youtube.com/?feature=ytca</string>
	</dict>
</dict>
</plist>
