<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ApplicationIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Safari.WebApp.9A5CE098-D8BB-49CB-874A-6F731F6B5000</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Google Meet</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-webkit-app-launch</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSTemplateApplication</key>
	<true/>
	<key>LSTemplateApplicationParameters</key>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.apple.Safari.WebApp</string>
		<key>TemplateAppUUID</key>
		<string>9A5CE098-D8BB-49CB-874A-6F731F6B5000</string>
		<key>defaultarguments</key>
		<true/>
		<key>teamIdentifier</key>
		<string>0000000000</string>
	</dict>
	<key>Manifest</key>
	<dict>
		<key>background_color</key>
		<string>#1a73e8</string>
		<key>display</key>
		<string>minimal-ui</string>
		<key>gcm_sender_id</key>
		<string>138127876506</string>
		<key>gcm_user_visible_only</key>
		<true/>
		<key>icons</key>
		<array>
			<dict>
				<key>sizes</key>
				<string>192x192</string>
				<key>src</key>
				<string>https://www.gstatic.com//images/branding/productlogos/meet_2026/v2/web-96dp/logo_meet_2026_color_2x_web_96dp.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>512x512</string>
				<key>src</key>
				<string>https://www.gstatic.com//images/branding/productlogos/meet_2026/v2/web-512dp/logo_meet_2026_color_1x_web_512dp.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
		</array>
		<key>id</key>
		<string>/landing?lfhs=2</string>
		<key>name</key>
		<string>Google Meet</string>
		<key>short_name</key>
		<string>Google Meet</string>
		<key>start_url</key>
		<string>https://meet.google.com/landing?lfhs=2</string>
		<key>theme_color</key>
		<string>#1a73e8</string>
	</dict>
	<key>WKManifestIconKind</key>
	<string>Touch</string>
	<key>WKManifestURL</key>
	<string>https://meet.google.com/_/MeetingsDesktopUi/manifest.json</string>
	<key>WKPushBundleMetadata</key>
	<dict>
		<key>manifestId</key>
		<string>https://meet.google.com/landing?lfhs=2</string>
	</dict>
</dict>
</plist>
