<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ApplicationIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Safari.WebApp.74D020B4-D1AD-4305-B8F8-1F2424DB5A20</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Facebook</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-webkit-app-launch</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSTemplateApplication</key>
	<true/>
	<key>LSTemplateApplicationParameters</key>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.apple.Safari.WebApp</string>
		<key>TemplateAppUUID</key>
		<string>74D020B4-D1AD-4305-B8F8-1F2424DB5A20</string>
		<key>defaultarguments</key>
		<true/>
		<key>teamIdentifier</key>
		<string>0000000000</string>
	</dict>
	<key>Manifest</key>
	<dict>
		<key>background_color</key>
		<string>#FFFFFF</string>
		<key>display</key>
		<string>minimal-ui</string>
		<key>edge_side_panel</key>
		<dict>
			<key>preferred_width</key>
			<integer>376</integer>
		</dict>
		<key>gcm_sender_id</key>
		<string>15057814354</string>
		<key>gcm_user_visible_only</key>
		<true/>
		<key>icons</key>
		<array>
			<dict>
				<key>sizes</key>
				<string>192x192</string>
				<key>src</key>
				<string>https://static.xx.fbcdn.net/rsrc.php/yk/r/Czs2nwUnhiR.webp</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>512x512</string>
				<key>src</key>
				<string>https://static.xx.fbcdn.net/rsrc.php/yH/r/a0cO3e6g_yJ.webp</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
		</array>
		<key>launch_handler</key>
		<dict>
			<key>client_mode</key>
			<string>navigate-existing</string>
		</dict>
		<key>name</key>
		<string>Facebook</string>
		<key>prefer_related_applications</key>
		<false/>
		<key>related_applications</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.facebook.katana</string>
				<key>platform</key>
				<string>play</string>
			</dict>
			<dict>
				<key>id</key>
				<string>com.facebook.lite</string>
				<key>platform</key>
				<string>play</string>
			</dict>
			<dict>
				<key>id</key>
				<string>com.facebook.orca</string>
				<key>platform</key>
				<string>play</string>
			</dict>
		</array>
		<key>short_name</key>
		<string>Facebook</string>
		<key>start_url</key>
		<string>https://www.facebook.com/?ref=homescreenpwa</string>
		<key>theme_color</key>
		<string>#1877F2</string>
		<key>widgets</key>
		<array>
			<dict>
				<key>data</key>
				<string>/dummy.json</string>
				<key>description</key>
				<string>Facebook</string>
				<key>icons</key>
				<array>
					<dict>
						<key>sizes</key>
						<string>192x192</string>
						<key>src</key>
						<string>https://static.xx.fbcdn.net/rsrc.php/yk/r/Czs2nwUnhiR.webp</string>
					</dict>
				</array>
				<key>ms_ac_template</key>
				<string>/dummy.json</string>
				<key>name</key>
				<string>Facebook</string>
				<key>screenshots</key>
				<array>
					<dict>
						<key>label</key>
						<string>Widget Screenshot</string>
						<key>sizes</key>
						<string>464x478</string>
						<key>src</key>
						<string>https://static.xx.fbcdn.net/rsrc.php/yU/r/qDmut9H6dpF.webp</string>
					</dict>
				</array>
				<key>short_name</key>
				<string>Facebook</string>
				<key>tag</key>
				<string>fb_widget</string>
				<key>template</key>
				<string>dummy</string>
				<key>type</key>
				<string>application/json</string>
				<key>update</key>
				<integer>100</integer>
			</dict>
		</array>
	</dict>
	<key>WKManifestIconKind</key>
	<string>Touch</string>
	<key>WKManifestURL</key>
	<string>https://www.facebook.com/data/manifest/?is_workplace_mobile_pwa_dogfooding=0</string>
	<key>WKPushBundleMetadata</key>
	<dict>
		<key>manifestId</key>
		<string>https://www.facebook.com/?ref=homescreenpwa</string>
	</dict>
</dict>
</plist>
