on:
  workflow_call:
    inputs:
      resource:
        description: Name of the cloud resource
        required: false
        type: string
      context:
        description: Working directory for build
        required: false
        type: string
      file:
        description: Dockerfile
        default: Dockerfile
        required: false
        type: string
      type:
        description: Kubernetes resource type
        default: deployment
        type: string
      target:
        description: Dockerfile target
        required: false
        type: string
      image:
        description: Image name override
        required: false
        type: string

env:
  ENVIRONMENT: ${{ github.ref_name }}
  IMAGE: us-docker.pkg.dev/jgw-${{ github.ref_name }}/main/${{ inputs.image || inputs.resource }}
  CACHE: type=registry,ref=us-docker.pkg.dev/jgw-${{ github.ref_name }}/buildcache/${{ inputs.image || inputs.resource }}
  TAG: ${{ github.sha }}

jobs:
  build:
    name: Build ${{ inputs.image || inputs.resource }}
    environment: ${{ github.ref_name }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: GCP auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP }}

      - name: Configure Docker
        run: |
          gcloud auth configure-docker us-docker.pkg.dev --quiet

      - name: Build and Publish Images
        uses: docker/build-push-action@v5
        with:
          push: true
          context: ${{ inputs.context }}
          builder: ${{ steps.buildx.outputs.name }}
          file: ${{ inputs.context }}/${{ inputs.file || 'Dockerfile' }}
          target: ${{ inputs.target }}
          build-args: |
            ENVIRONMENT=${{ env.ENVIRONMENT }}
            FIREBASE_API_KEY=${{ secrets.FIREBASE_API_KEY }}
            DATADOG_CLIENT_TOKEN=${{ secrets.DATADOG_CLIENT_TOKEN }}
            GOOGLE_PLACES_API_KEY=${{ secrets.GOOGLE_PLACES_API_KEY }}
            SEGMENT_WRITE_KEY=${{ secrets.SEGMENT_WRITE_KEY }}
            tag=${{ env.TAG }}
          tags: |
            ${{ env.IMAGE }}:${{ env.TAG }}
            ${{ env.IMAGE }}:latest
          cache-from: ${{ env.CACHE }}
          cache-to: ${{ env.CACHE }}

  rollout:
    needs: build
    name: Rollout ${{ inputs.rollout }}
    uses: ./.github/workflows/rollout.shared.yml
    secrets: inherit
    if: ${{ inputs.resource }}
    with:
      image: ${{ inputs.image || inputs.resource }}
      resource: ${{ inputs.resource }}
      target: ${{ inputs.target }}
      type: ${{ inputs.type }}
